<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BoyBabyHeight</key>
	<array>
		<array>
			<string>47.1</string>
			<string>54.6</string>
			<string>60.3</string>
			<string>64</string>
			<string>67.9</string>
			<string>71.5</string>
			<string>74.4</string>
			<string>76.9</string>
			<string>79.5</string>
			<string>82.1</string>
		</array>
		<array>
			<string>48.1</string>
			<string>55.9</string>
			<string>61.7</string>
			<string>65.4</string>
			<string>69.4</string>
			<string>73.1</string>
			<string>76.1</string>
			<string>78.7</string>
			<string>81.4</string>
			<string>84.1</string>
		</array>
		<array>
			<string>49.2</string>
			<string>57.2</string>
			<string>63</string>
			<string>66.8</string>
			<string>70.9</string>
			<string>74.7</string>
			<string>77.8</string>
			<string>80.6</string>
			<string>83.4</string>
			<string>86.2</string>
		</array>
		<array>
			<string>50.4</string>
			<string>58.7</string>
			<string>64.6</string>
			<string>68.4</string>
			<string>72.6</string>
			<string>76.5</string>
			<string>79.8</string>
			<string>82.7</string>
			<string>85.6</string>
			<string>88.54</string>
		</array>
		<array>
			<string>51.6</string>
			<string>60.3</string>
			<string>66.2</string>
			<string>70</string>
			<string>74.4</string>
			<string>78.4</string>
			<string>81.8</string>
			<string>84.8</string>
			<string>87.9</string>
			<string>90.9</string>
		</array>
		<array>
			<string>52.7</string>
			<string>61.7</string>
			<string>67.6</string>
			<string>71.5</string>
			<string>75.9</string>
			<string>80.1</string>
			<string>83.6</string>
			<string>86.7</string>
			<string>90</string>
			<string>93.1</string>
		</array>
		<array>
			<string>53.8</string>
			<string>63</string>
			<string>69</string>
			<string>73.3</string>
			<string>77.5</string>
			<string>81.8</string>
			<string>85.4</string>
			<string>88.7</string>
			<string>92</string>
			<string>95.3</string>
		</array>
	</array>
	<key>BoyBabyWeight</key>
	<array>
		<array>
			<string>2.62</string>
			<string>4.53</string>
			<string>5.99</string>
			<string>6.8</string>
			<string>7.56</string>
			<string>8.16</string>
			<string>8.68</string>
			<string>9.19</string>
			<string>9.71</string>
			<string>10.22</string>
		</array>
		<array>
			<string>2.83</string>
			<string>4.88</string>
			<string>6.43</string>
			<string>7.28</string>
			<string>8.09</string>
			<string>8.72</string>
			<string>9.27</string>
			<string>9.81</string>
			<string>10.37</string>
			<string>10.9</string>
		</array>
		<array>
			<string>3.06</string>
			<string>5.25</string>
			<string>6.9</string>
			<string>7.8</string>
			<string>8.66</string>
			<string>9.33</string>
			<string>9.91</string>
			<string>10.48</string>
			<string>11.08</string>
			<string>11.65</string>
		</array>
		<array>
			<string>3.32</string>
			<string>5.68</string>
			<string>7.45</string>
			<string>8.41</string>
			<string>9.33</string>
			<string>10.05</string>
			<string>10.68</string>
			<string>11.29</string>
			<string>11.93</string>
			<string>12.5</string>
		</array>
		<array>
			<string>3.59</string>
			<string>6.15</string>
			<string>8.04</string>
			<string>9.07</string>
			<string>10.06</string>
			<string>10.83</string>
			<string>11.51</string>
			<string>12.16</string>
			<string>12.86</string>
			<string>13.51</string>
		</array>
		<array>
			<string>3.85</string>
			<string>6.59</string>
			<string>8.61</string>
			<string>9.7</string>
			<string>10.75</string>
			<string>11.58</string>
			<string>12.3</string>
			<string>13.01</string>
			<string>13.75</string>
			<string>14.46</string>
		</array>
		<array>
			<string>4.12</string>
			<string>7.05</string>
			<string>9.2</string>
			<string>10.37</string>
			<string>11.49</string>
			<string>12.37</string>
			<string>13.15</string>
			<string>13.9</string>
			<string>14.7</string>
			<string>15.46</string>
		</array>
	</array>
	<key>GirlBabyHeight</key>
	<array>
		<array>
			<string>46.6</string>
			<string>53.4</string>
			<string>59.1</string>
			<string>62.5</string>
			<string>66.4</string>
			<string>70</string>
			<string>73.2</string>
			<string>76</string>
			<string>78.5</string>
			<string>80.9</string>
		</array>
		<array>
			<string>47.5</string>
			<string>54.7</string>
			<string>60.3</string>
			<string>63.9</string>
			<string>67.8</string>
			<string>71.6</string>
			<string>74.9</string>
			<string>77.7</string>
			<string>80.4</string>
			<string>82.9</string>
		</array>
		<array>
			<string>48.6</string>
			<string>56</string>
			<string>61.7</string>
			<string>65.2</string>
			<string>69.3</string>
			<string>73.2</string>
			<string>76.6</string>
			<string>79.5</string>
			<string>82.3</string>
			<string>84.9</string>
		</array>
		<array>
			<string>49.7</string>
			<string>57.4</string>
			<string>63.1</string>
			<string>66.8</string>
			<string>71</string>
			<string>75</string>
			<string>78.5</string>
			<string>81.5</string>
			<string>84.4</string>
			<string>87.2</string>
		</array>
		<array>
			<string>50.9</string>
			<string>58.9</string>
			<string>64.6</string>
			<string>68.4</string>
			<string>72.8</string>
			<string>76.8</string>
			<string>80.4</string>
			<string>83.6</string>
			<string>86.6</string>
			<string>89.6</string>
		</array>
		<array>
			<string>51.9</string>
			<string>60.2</string>
			<string>66</string>
			<string>69.8</string>
			<string>74.3</string>
			<string>78.5</string>
			<string>82.2</string>
			<string>85.5</string>
			<string>88.6</string>
			<string>91.7</string>
		</array>
		<array>
			<string>53</string>
			<string>61.6</string>
			<string>67.4</string>
			<string>71.2</string>
			<string>75.9</string>
			<string>80.2</string>
			<string>84</string>
			<string>87.4</string>
			<string>90.7</string>
			<string>93.9</string>
		</array>
	</array>
	<key>GirlBabyWeight</key>
	<array>
		<array>
			<string>2.57</string>
			<string>4.21</string>
			<string>5.55</string>
			<string>6.34</string>
			<string>7.11</string>
			<string>7.7</string>
			<string>8.22</string>
			<string>8.73</string>
			<string>9.26</string>
			<string>9.76</string>
		</array>
		<array>
			<string>2.76</string>
			<string>4.5</string>
			<string>5.93</string>
			<string>6.76</string>
			<string>7.58</string>
			<string>8.2</string>
			<string>8.75</string>
			<string>9.29</string>
			<string>9.86</string>
			<string>10.39</string>
		</array>
		<array>
			<string>2.96</string>
			<string>4.82</string>
			<string>6.34</string>
			<string>7.21</string>
			<string>8.08</string>
			<string>8.74</string>
			<string>9.33</string>
			<string>9.91</string>
			<string>10.51</string>
			<string>11.08</string>
		</array>
		<array>
			<string>3.21</string>
			<string>5.21</string>
			<string>6.83</string>
			<string>7.77</string>
			<string>8.69</string>
			<string>9.4</string>
			<string>10.02</string>
			<string>10.65</string>
			<string>11.3</string>
			<string>11.92</string>
		</array>
		<array>
			<string>3.49</string>
			<string>5.64</string>
			<string>7.37</string>
			<string>8.37</string>
			<string>9.36</string>
			<string>10.12</string>
			<string>10.79</string>
			<string>11.46</string>
			<string>12.17</string>
			<string>12.84</string>
		</array>
		<array>
			<string>3.75</string>
			<string>6.06</string>
			<string>7.9</string>
			<string>8.96</string>
			<string>10.01</string>
			<string>10.82</string>
			<string>11.53</string>
			<string>12.25</string>
			<string>13.01</string>
			<string>13.74</string>
		</array>
		<array>
			<string>4.04</string>
			<string>6.51</string>
			<string>8.47</string>
			<string>9.59</string>
			<string>10.71</string>
			<string>11.57</string>
			<string>12.33</string>
			<string>13.11</string>
			<string>13.93</string>
			<string>14.71</string>
		</array>
	</array>
	<key>BoyHeight</key>
	<array>
		<array>
			<string>82.1</string>
			<string>86.4</string>
			<string>89.7</string>
			<string>93.4</string>
			<string>96.7</string>
			<string>100</string>
			<string>103.3</string>
			<string>106.4</string>
			<string>109.1</string>
			<string>111.7</string>
			<string>114.6</string>
			<string>117.4</string>
			<string>119.9</string>
			<string>122.3</string>
			<string>124.6</string>
			<string>126.7</string>
			<string>128.7</string>
			<string>130.7</string>
			<string>132.9</string>
			<string>135.3</string>
			<string>138.1</string>
			<string>141.1</string>
			<string>145</string>
			<string>148.8</string>
			<string>152.3</string>
			<string>155.3</string>
			<string>157.5</string>
			<string>159.1</string>
			<string>159.9</string>
			<string>160.5</string>
			<string>160.9</string>
			<string>161.3</string>
		</array>
		<array>
			<string>84.1</string>
			<string>88.6</string>
			<string>91.9</string>
			<string>95.7</string>
			<string>99.1</string>
			<string>102.4</string>
			<string>105.8</string>
			<string>109</string>
			<string>111.8</string>
			<string>114.5</string>
			<string>117.6</string>
			<string>120.5</string>
			<string>123.1</string>
			<string>125.6</string>
			<string>128</string>
			<string>130.3</string>
			<string>132.3</string>
			<string>134.5</string>
			<string>136.8</string>
			<string>139.5</string>
			<string>142.5</string>
			<string>145.7</string>
			<string>149.6</string>
			<string>153.3</string>
			<string>156.7</string>
			<string>159.4</string>
			<string>161.4</string>
			<string>162.9</string>
			<string>163.6</string>
			<string>164.2</string>
			<string>164.5</string>
			<string>164.9</string>
		</array>
		<array>
			<string>86.2</string>
			<string>90.8</string>
			<string>94.2</string>
			<string>98</string>
			<string>101.4</string>
			<string>104.9</string>
			<string>108.4</string>
			<string>111.7</string>
			<string>114.6</string>
			<string>117.4</string>
			<string>120.6</string>
			<string>123.6</string>
			<string>126.3</string>
			<string>129</string>
			<string>131.4</string>
			<string>133.9</string>
			<string>136</string>
			<string>138.3</string>
			<string>140.8</string>
			<string>143.7</string>
			<string>147</string>
			<string>150.4</string>
			<string>154.3</string>
			<string>157.9</string>
			<string>161</string>
			<string>163.6</string>
			<string>165.4</string>
			<string>166.7</string>
			<string>167.4</string>
			<string>167.9</string>
			<string>168.2</string>
			<string>168.6</string>
		</array>
		<array>
			<string>88.54</string>
			<string>93.3</string>
			<string>96.8</string>
			<string>100.6</string>
			<string>104.1</string>
			<string>107.7</string>
			<string>111.3</string>
			<string>114.7</string>
			<string>117.7</string>
			<string>120.7</string>
			<string>124</string>
			<string>127.1</string>
			<string>130</string>
			<string>132.7</string>
			<string>135.4</string>
			<string>137.9</string>
			<string>140.2</string>
			<string>142.6</string>
			<string>145.3</string>
			<string>148.4</string>
			<string>151.9</string>
			<string>155.6</string>
			<string>159.5</string>
			<string>163</string>
			<string>165.9</string>
			<string>168.2</string>
			<string>169.8</string>
			<string>171</string>
			<string>171.6</string>
			<string>172.1</string>
			<string>172.3</string>
			<string>172.7</string>
		</array>
		<array>
			<string>90.9</string>
			<string>95.59</string>
			<string>99.4</string>
			<string>103.2</string>
			<string>106.9</string>
			<string>110.5</string>
			<string>114.2</string>
			<string>117.7</string>
			<string>120.9</string>
			<string>123.9</string>
			<string>127.4</string>
			<string>130.7</string>
			<string>133.7</string>
			<string>136.6</string>
			<string>139.3</string>
			<string>142</string>
			<string>144.4</string>
			<string>147</string>
			<string>149.9</string>
			<string>153.1</string>
			<string>157</string>
			<string>160.8</string>
			<string>164.8</string>
			<string>168.1</string>
			<string>170.7</string>
			<string>172.8</string>
			<string>174.2</string>
			<string>175.2</string>
			<string>175.8</string>
			<string>176.2</string>
			<string>176.4</string>
			<string>176.7</string>
		</array>
		<array>
			<string>93.1</string>
			<string>98.2</string>
			<string>101.8</string>
			<string>105.7</string>
			<string>109.3</string>
			<string>113.1</string>
			<string>116.9</string>
			<string>120.5</string>
			<string>123.7</string>
			<string>126.9</string>
			<string>130.5</string>
			<string>133.9</string>
			<string>137.1</string>
			<string>140.1</string>
			<string>142.9</string>
			<string>145.7</string>
			<string>148.2</string>
			<string>150.9</string>
			<string>154</string>
			<string>157.4</string>
			<string>161.5</string>
			<string>165.5</string>
			<string>169.5</string>
			<string>172.7</string>
			<string>175.1</string>
			<string>176.9</string>
			<string>178.2</string>
			<string>179.1</string>
			<string>179.5</string>
			<string>179.9</string>
			<string>180.1</string>
			<string>180.4</string>
		</array>
		<array>
			<string>93.1</string>
			<string>98.2</string>
			<string>101.8</string>
			<string>105.7</string>
			<string>109.3</string>
			<string>113.1</string>
			<string>116.9</string>
			<string>120.5</string>
			<string>123.7</string>
			<string>126.9</string>
			<string>130.5</string>
			<string>133.9</string>
			<string>137.1</string>
			<string>140.1</string>
			<string>142.9</string>
			<string>145.7</string>
			<string>148.2</string>
			<string>150.9</string>
			<string>154</string>
			<string>157.4</string>
			<string>161.5</string>
			<string>165.5</string>
			<string>169.5</string>
			<string>172.7</string>
			<string>175.1</string>
			<string>176.9</string>
			<string>178.2</string>
			<string>179.1</string>
			<string>179.5</string>
			<string>179.9</string>
			<string>180.1</string>
			<string>180.4</string>
		</array>
	</array>
	<key>BoyWeight</key>
	<array>
		<array>
			<string>10.22</string>
			<string>11.11</string>
			<string>11.94</string>
			<string>12.73</string>
			<string>13.52</string>
			<string>14.37</string>
			<string>15.26</string>
			<string>16.09</string>
			<string>16.8</string>
			<string>17.53</string>
			<string>18.48</string>
			<string>19.43</string>
			<string>20.32</string>
			<string>21.18</string>
			<string>22.04</string>
			<string>22.95</string>
			<string>23.89</string>
			<string>24.96</string>
			<string>26.21</string>
			<string>27.59</string>
			<string>29.09</string>
			<string>30.74</string>
			<string>32.82</string>
			<string>35.03</string>
			<string>37.36</string>
			<string>39.53</string>
			<string>41.43</string>
			<string>43.05</string>
			<string>44.28</string>
			<string>45.3</string>
			<string>46.04</string>
			<string>47.01</string>
		</array>
		<array>
			<string>10.9</string>
			<string>11.85</string>
			<string>12.74</string>
			<string>13.58</string>
			<string>14.43</string>
			<string>15.35</string>
			<string>16.33</string>
			<string>17.26</string>
			<string>18.06</string>
			<string>18.92</string>
			<string>20.04</string>
			<string>21.17</string>
			<string>22.24</string>
			<string>23.28</string>
			<string>24.31</string>
			<string>25.42</string>
			<string>26.55</string>
			<string>27.83</string>
			<string>29.33</string>
			<string>30.97</string>
			<string>32.77</string>
			<string>34.71</string>
			<string>37.04</string>
			<string>39.42</string>
			<string>41.8</string>
			<string>43.94</string>
			<string>45.77</string>
			<string>47.31</string>
			<string>48.47</string>
			<string>49.42</string>
			<string>50.11</string>
			<string>51.02</string>
		</array>
		<array>
			<string>11.65</string>
			<string>12.66</string>
			<string>13.61</string>
			<string>14.51</string>
			<string>15.43</string>
			<string>16.43</string>
			<string>17.52</string>
			<string>18.56</string>
			<string>19.49</string>
			<string>20.49</string>
			<string>21.81</string>
			<string>23.16</string>
			<string>24.46</string>
			<string>25.73</string>
			<string>26.98</string>
			<string>28.31</string>
			<string>29.66</string>
			<string>31.2</string>
			<string>32.97</string>
			<string>34.91</string>
			<string>37.03</string>
			<string>39.29</string>
			<string>41.9</string>
			<string>44.45</string>
			<string>46.9</string>
			<string>49</string>
			<string>50.75</string>
			<string>52.19</string>
			<string>53.26</string>
			<string>54.13</string>
			<string>54.77</string>
			<string>55.6</string>
		</array>
		<array>
			<string>12.5</string>
			<string>13.64</string>
			<string>14.65</string>
			<string>15.63</string>
			<string>16.64</string>
			<string>17.75</string>
			<string>18.98</string>
			<string>20.18</string>
			<string>21.26</string>
			<string>22.45</string>
			<string>24.06</string>
			<string>25.72</string>
			<string>27.33</string>
			<string>28.9</string>
			<string>30.46</string>
			<string>32.09</string>
			<string>33.74</string>
			<string>35.58</string>
			<string>37.69</string>
			<string>39.98</string>
			<string>42.49</string>
			<string>45.13</string>
			<string>48.08</string>
			<string>50.85</string>
			<string>53.37</string>
			<string>55.43</string>
			<string>57.08</string>
			<string>58.39</string>
			<string>59.35</string>
			<string>60.12</string>
			<string>60.68</string>
			<string>61.4</string>
		</array>
		<array>
			<string>13.51</string>
			<string>14.7</string>
			<string>15.8</string>
			<string>16.86</string>
			<string>17.98</string>
			<string>19.22</string>
			<string>20.61</string>
			<string>21.98</string>
			<string>23.26</string>
			<string>24.7</string>
			<string>26.66</string>
			<string>28.7</string>
			<string>30.71</string>
			<string>32.69</string>
			<string>34.61</string>
			<string>36.61</string>
			<string>38.61</string>
			<string>40.81</string>
			<string>43.27</string>
			<string>45.94</string>
			<string>48.86</string>
			<string>51.89</string>
			<string>55.21</string>
			<string>58.21</string>
			<string>60.83</string>
			<string>62.86</string>
			<string>64.4</string>
			<string>65.57</string>
			<string>66.4</string>
			<string>67.05</string>
			<string>67.51</string>
			<string>68.11</string>
		</array>
		<array>
			<string>14.46</string>
			<string>15.73</string>
			<string>16.92</string>
			<string>18.08</string>
			<string>19.29</string>
			<string>20.67</string>
			<string>22.23</string>
			<string>23.81</string>
			<string>25.29</string>
			<string>27</string>
			<string>29.35</string>
			<string>31.84</string>
			<string>34.31</string>
			<string>36.74</string>
			<string>39.08</string>
			<string>41.49</string>
			<string>43.85</string>
			<string>46.4</string>
			<string>49.2</string>
			<string>52.21</string>
			<string>55.5</string>
			<string>58.9</string>
			<string>62.57</string>
			<string>65.8</string>
			<string>68.53</string>
			<string>70.55</string>
			<string>72</string>
			<string>73.03</string>
			<string>73.73</string>
			<string>74.25</string>
			<string>74.62</string>
			<string>75.08</string>
		</array>
		<array>
            <string>15.46</string>
            <string>16.8</string>
            <string>18.12</string>
            <string>19.38</string>
            <string>20.71</string>
            <string>22.24</string>
            <string>24.00</string>
            <string>25.81</string>
            <string>27.55</string>
            <string>29.57</string>
            <string>32.41</string>
            <string>35.45</string>
            <string>38.49</string>
            <string>41.49</string>
            <string>44.35</string>
            <string>47.24</string>
            <string>50.01</string>
            <string>52.93</string>
            <string>56.07</string>
            <string>59.40</string>
            <string>63.04</string>
            <string>66.81</string>
            <string>70.83</string>
            <string>74.33</string>
            <string>77.20</string>
            <string>79.24</string>
            <string>80.60</string>
            <string>81.49</string>
            <string>82.05</string>
            <string>82.44</string>
            <string>82.70</string>
            <string>83</string>
		</array>
	</array>
	<key>GirlHeight</key>
	<array>
		<array>
			<string>80.9</string>
			<string>85.2</string>
			<string>88.6</string>
			<string>92.4</string>
			<string>95.8</string>
			<string>99.2</string>
			<string>102.3</string>
			<string>105.4</string>
			<string>108.1</string>
			<string>110.6</string>
			<string>113.3</string>
			<string>116</string>
			<string>118.5</string>
			<string>121</string>
			<string>123.3</string>
			<string>125.7</string>
			<string>128.3</string>
			<string>131.1</string>
			<string>134.2</string>
			<string>137.2</string>
			<string>140.2</string>
			<string>142.9</string>
			<string>145</string>
			<string>146.7</string>
			<string>147.9</string>
			<string>148.9</string>
			<string>149.5</string>
			<string>149.9</string>
			<string>149.8</string>
			<string>149.9</string>
			<string>150.1</string>
			<string>150.4</string>
		</array>
		<array>
			<string>82.9</string>
			<string>87.4</string>
			<string>90.8</string>
			<string>94.6</string>
			<string>98.1</string>
			<string>101.5</string>
			<string>104.8</string>
			<string>108</string>
			<string>110.8</string>
			<string>113.4</string>
			<string>116.2</string>
			<string>119</string>
			<string>121.6</string>
			<string>124.2</string>
			<string>126.7</string>
			<string>129.3</string>
			<string>132.1</string>
			<string>135</string>
			<string>138.2</string>
			<string>141.2</string>
			<string>144.1</string>
			<string>146.6</string>
			<string>148.6</string>
			<string>150.2</string>
			<string>151.3</string>
			<string>152.2</string>
			<string>152.8</string>
			<string>153.1</string>
			<string>153.1</string>
			<string>153.2</string>
			<string>153.4</string>
			<string>153.7</string>
		</array>
		<array>
			<string>84.9</string>
			<string>89.6</string>
			<string>93.1</string>
			<string>96.8</string>
			<string>100.4</string>
			<string>104</string>
			<string>107.3</string>
			<string>110.6</string>
			<string>113.5</string>
			<string>116.2</string>
			<string>119.2</string>
			<string>122.1</string>
			<string>124.9</string>
			<string>127.6</string>
			<string>130.2</string>
			<string>132.9</string>
			<string>135.9</string>
			<string>138.9</string>
			<string>142.2</string>
			<string>145.2</string>
			<string>148</string>
			<string>150.4</string>
			<string>152.2</string>
			<string>153.7</string>
			<string>154.8</string>
			<string>155.6</string>
			<string>156.1</string>
			<string>156.5</string>
			<string>156.4</string>
			<string>156.5</string>
			<string>156.7</string>
			<string>157</string>
		</array>
		<array>
			<string>87.2</string>
			<string>92.1</string>
			<string>95.6</string>
			<string>99.4</string>
			<string>103.1</string>
			<string>106.7</string>
			<string>110.2</string>
			<string>113.5</string>
			<string>116.6</string>
			<string>119.4</string>
			<string>122.5</string>
			<string>125.6</string>
			<string>128.5</string>
			<string>131.3</string>
			<string>134.1</string>
			<string>137</string>
			<string>140.1</string>
			<string>143.3</string>
			<string>146.6</string>
			<string>149.7</string>
			<string>152.4</string>
			<string>154.6</string>
			<string>156.3</string>
			<string>157.6</string>
			<string>158.6</string>
			<string>159.4</string>
			<string>159.8</string>
			<string>160.1</string>
			<string>160.1</string>
			<string>160.2</string>
			<string>160.3</string>
			<string>160.6</string>
		</array>
		<array>
			<string>89.6</string>
			<string>94.6</string>
			<string>98.2</string>
			<string>102</string>
			<string>105.7</string>
			<string>109.5</string>
			<string>113.1</string>
			<string>116.5</string>
			<string>119.7</string>
			<string>122.7</string>
			<string>125.9</string>
			<string>129.1</string>
			<string>132.1</string>
			<string>135.1</string>
			<string>138</string>
			<string>141.1</string>
			<string>144.4</string>
			<string>147.7</string>
			<string>151.1</string>
			<string>154.1</string>
			<string>156.7</string>
			<string>158.8</string>
			<string>160.3</string>
			<string>161.6</string>
			<string>162.4</string>
			<string>163.1</string>
			<string>163.5</string>
			<string>163.8</string>
			<string>163.8</string>
			<string>163.8</string>
			<string>164</string>
			<string>164.2</string>
		</array>
		<array>
			<string>91.7</string>
			<string>97</string>
			<string>100.5</string>
			<string>104.4</string>
			<string>108.2</string>
			<string>112.1</string>
			<string>115.7</string>
			<string>119.3</string>
			<string>122.5</string>
			<string>125.6</string>
			<string>129</string>
			<string>132.3</string>
			<string>135.4</string>
			<string>138.5</string>
			<string>141.6</string>
			<string>144.8</string>
			<string>148.2</string>
			<string>151.6</string>
			<string>155.2</string>
			<string>158.2</string>
			<string>160.7</string>
			<string>162.6</string>
			<string>164</string>
			<string>165.1</string>
			<string>165.9</string>
			<string>166.5</string>
			<string>166.8</string>
			<string>167.1</string>
			<string>167.1</string>
			<string>167.1</string>
			<string>167.3</string>
			<string>167.5</string>
		</array>
		<array>
			<string>93.9</string>
			<string>99.3</string>
			<string>102.9</string>
			<string>106.8</string>
			<string>110.6</string>
			<string>114.7</string>
			<string>118.4</string>
			<string>122</string>
			<string>125.4</string>
			<string>128.6</string>
			<string>132.1</string>
			<string>135.5</string>
			<string>138.7</string>
			<string>141.9</string>
			<string>145.1</string>
			<string>148.5</string>
			<string>152</string>
			<string>155.6</string>
			<string>159.2</string>
			<string>162.1</string>
			<string>164.5</string>
			<string>166.3</string>
			<string>167.6</string>
			<string>168.6</string>
			<string>169.3</string>
			<string>169.8</string>
			<string>170.1</string>
			<string>170.3</string>
			<string>170.3</string>
			<string>170.4</string>
			<string>170.5</string>
			<string>170.7</string>
		</array>
	</array>
	<key>GirlWeight</key>
	<array>
		<array>
			<string>9.76</string>
			<string>10.65</string>
			<string>11.5</string>
			<string>12.32</string>
			<string>13.1</string>
			<string>13.89</string>
			<string>14.64</string>
			<string>15.39</string>
			<string>16.1</string>
			<string>16.8</string>
			<string>17.58</string>
			<string>18.39</string>
			<string>19.2</string>
			<string>20.25</string>
			<string>20.93</string>
			<string>21.89</string>
			<string>22.98</string>
			<string>24.22</string>
			<string>25.74</string>
			<string>27.43</string>
			<string>29.33</string>
			<string>31.22</string>
			<string>33.09</string>
			<string>34.82</string>
			<string>36.38</string>
			<string>37.71</string>
			<string>38.73</string>
			<string>39.51</string>
			<string>39.96</string>
			<string>40.29</string>
			<string>40.44</string>
			<string>40.71</string>
		</array>
		<array>
			<string>10.39</string>
			<string>11.35</string>
			<string>12.27</string>
			<string>13.14</string>
			<string>13.99</string>
			<string>14.85</string>
			<string>15.68</string>
			<string>16.52</string>
			<string>17.32</string>
			<string>18.12</string>
			<string>19.01</string>
			<string>19.95</string>
			<string>20.89</string>
			<string>21.88</string>
			<string>22.93</string>
			<string>24.08</string>
			<string>25.36</string>
			<string>26.8</string>
			<string>28.53</string>
			<string>30.29</string>
			<string>32.42</string>
			<string>34.39</string>
			<string>36.29</string>
			<string>38.01</string>
			<string>39.55</string>
			<string>40.84</string>
			<string>41.83</string>
			<string>42.58</string>
			<string>43.01</string>
			<string>43.32</string>
			<string>43.47</string>
			<string>43.73</string>
		</array>
		<array>
			<string>11.08</string>
			<string>12.12</string>
			<string>13.11</string>
			<string>14.05</string>
			<string>14.97</string>
			<string>15.92</string>
			<string>16.84</string>
			<string>17.78</string>
			<string>18.68</string>
			<string>19.6</string>
			<string>20.62</string>
			<string>21.71</string>
			<string>22.81</string>
			<string>23.99</string>
			<string>25.23</string>
			<string>26.61</string>
			<string>28.15</string>
			<string>29.84</string>
			<string>31.81</string>
			<string>33.86</string>
			<string>36.04</string>
			<string>38.09</string>
			<string>40</string>
			<string>41.69</string>
			<string>43.19</string>
			<string>44.43</string>
			<string>45.36</string>
			<string>46.06</string>
			<string>46.47</string>
			<string>46.76</string>
			<string>46.9</string>
			<string>47.14</string>
		</array>
		<array>
			<string>11.92</string>
			<string>13.05</string>
			<string>14.13</string>
			<string>15.16</string>
			<string>16.17</string>
			<string>17.22</string>
			<string>18.26</string>
			<string>19.33</string>
			<string>20.37</string>
			<string>21.44</string>
			<string>22.64</string>
			<string>23.93</string>
			<string>25.25</string>
			<string>26.67</string>
			<string>28.19</string>
			<string>29.87</string>
			<string>31.76</string>
			<string>33.8</string>
			<string>36.1</string>
			<string>38.4</string>
			<string>40.77</string>
			<string>42.89</string>
			<string>44.79</string>
			<string>46.42</string>
			<string>47.83</string>
			<string>48.97</string>
			<string>49.82</string>
			<string>50.45</string>
			<string>50.81</string>
			<string>51.07</string>
			<string>51.2</string>
			<string>51.41</string>
		</array>
		<array>
			<string>12.84</string>
			<string>14.07</string>
			<string>15.25</string>
			<string>16.38</string>
			<string>17.5</string>
			<string>18.66</string>
			<string>19.83</string>
			<string>21.06</string>
			<string>22.27</string>
			<string>23.51</string>
			<string>24.94</string>
			<string>26.48</string>
			<string>28.05</string>
			<string>29.77</string>
			<string>31.63</string>
			<string>33.72</string>
			<string>36.05</string>
			<string>38.53</string>
			<string>41.24</string>
			<string>43.85</string>
			<string>46.42</string>
			<string>48.6</string>
			<string>50.45</string>
			<string>51.97</string>
			<string>53.23</string>
			<string>54.23</string>
			<string>54.96</string>
			<string>55.49</string>
			<string>55.79</string>
			<string>56.01</string>
			<string>56.11</string>
			<string>56.28</string>
		</array>
		<array>
			<string>13.74</string>
			<string>15.08</string>
			<string>16.36</string>
			<string>17.59</string>
			<string>18.81</string>
			<string>20.1</string>
			<string>21.41</string>
			<string>22.81</string>
			<string>24.19</string>
			<string>25.62</string>
			<string>27.28</string>
			<string>29.08</string>
			<string>30.95</string>
			<string>33</string>
			<string>35.26</string>
			<string>37.79</string>
			<string>40.63</string>
			<string>43.61</string>
			<string>46.78</string>
			<string>49.73</string>
			<string>52.49</string>
			<string>54.71</string>
			<string>56.46</string>
			<string>57.81</string>
			<string>58.88</string>
			<string>59.7</string>
			<string>60.28</string>
			<string>60.69</string>
			<string>60.91</string>
			<string>61.07</string>
			<string>61.15</string>
			<string>61.28</string>
		</array>
		<array>
			<string>14.71</string>
			<string>16.16</string>
			<string>17.55</string>
			<string>18.89</string>
			<string>20.24</string>
			<string>21.67</string>
			<string>23.14</string>
			<string>24.72</string>
			<string>26.3</string>
			<string>27.96</string>
			<string>29.89</string>
			<string>32.01</string>
			<string>34.23</string>
			<string>36.69</string>
			<string>39.41</string>
			<string>42.51</string>
			<string>45.97</string>
			<string>49.59</string>
			<string>53.33</string>
			<string>56.67</string>
			<string>59.64</string>
			<string>61.86</string>
			<string>63.45</string>
			<string>64.55</string>
			<string>65.36</string>
			<string>65.93</string>
			<string>66.3</string>
			<string>66.55</string>
			<string>66.69</string>
			<string>66.78</string>
			<string>66.82</string>
			<string>66.89</string>
		</array>
	</array>
</dict>
</plist>
